.card {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 0.8rem;
}

.cardHeader {
    display: flex;
}

.cardHeader:hover {
    cursor: pointer;
}

.card.focused {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.hr {
    background-color: rgba(0, 0, 0, 0.25);
}
